.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

.btn-margin {
    margin-right: 3px;
}

.round-box {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.round-box h5 {
    font-weight: bold;
}

.nav-pills .nav-link {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
    margin-right: 0.25em !important;
    background: lightgray !important;
}

.nav-pills .nav-link.active {
    background: gray !important;
    color: white !important;
}

.nav-link {
    color: #226fbb !important;
}

