{% load users %}
{% load utils %}
{% is_disturbance_admin as is_disturbance_admin_user %}

{% if request.user.is_superuser %}
    <li role="separator" class="divider"></li>
{% endif %}
{% if is_disturbance_admin_user or request.user.is_superuser %}
    {% if DOMAIN_DETECTED != 'apiary' %}
        <li><a class="dropdown-item" href="/internal/schema">Manage Application Schema</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
{% endif %}
{% if request.user.is_superuser %}
    <li><a class="dropdown-item" href="{% url 'mgt-commands' %}">Management Commands</a></li>
{% endif %}
<a class="dropdown-item" href="{% url 'manage-account' %}">Manage Account</a>
{% for org in request.user.disturbance_organisations.all %}
    {% if request.user.is_superuser or org.id|is_org_admin:request.user %}
        <li><a class="dropdown-item" href="/external/organisations/manage/{{org.id}}">Manage {{org.organisation.name}}</a></li>
    {% endif %}
{% endfor %}  