{% extends 'disturbance/base.html' %}

{% load static %}
{% load utils %}
{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block menu_items_left_brand %}
    {{ block.super }}
    <div class="navbar-nav">
        <div class="nav-item"><a  class="nav-link" href="{% url 'ds_contact' %}">Contact Us</a></div>
        <div class="nav-item"><a  class="nav-link" href="{% url 'ds_further_info' %}">Further Information</a></div>
    </div>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Further Information
                </h2>
                <!-- <p>For further information, please email <b>{% support_email %}</b>.</p> -->
                <p>
                    For further information and FAQ's please visit
                    <a href="{{ DJANGO_SETTINGS.EXTERNAL_DAS_INFO_URL }}">Online Disturbance Approval System</a>
                    for all external users and
                    <a href="{{ DJANGO_SETTINGS.INTERNAL_DAS_INFO_URL }}">Disturbance Approval System (DAS)</a>
                    for all internal users. Alternatively, please email the DAS inbox
                    <a href="mailto:{% support_email %}">{% support_email %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
